@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans&display=swap');

$font-body: "work-sans", sans-serif;
$font-display: "Poppins", verdana;
$color-white: #EBEBEB;
$color-black: #2A2627;
$color-primary-light: #FF0099;
$color-primary-dark: #141314;

* {
    margin:0px;
    padding: 0px;
    font-family: $font-body;
    color: $color-black;
}

a:link, 
a:visited {
    text-decoration: none;
}

h2 {
    font-size: 4vh;
}