.nav {
    height: 10vh;
    margin: 3vh 5vw 3vh 5vw;
    display: flex;
    justify-content: center;
    align-items: center;        
}


/* .custom-shape-divider-top-1642953899-A {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-bottom-1642954063-A {
    position: absolute;
    top: 0.13vh; 
    left: 0;
    width: 100%;
    height: 20vh; 
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg); 
} */

.intro {
  position: relative;
  width: 100%;
  height: 60vh;
  margin-bottom: 10vh;
  background-image: url("./images/light-sparkle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-top: solid $color-black 0.6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3vh; 
}

.svg-container-1 {
    position: absolute;
    top: 0;
    width: 100%;
}

.svg-container-2 {
    position: absolute;
    bottom: -7vh;
    width: 100%;
}

svg {
    width: 100%;
    height: 7vh;
    fill: $color-black;
}


.custom-shape-divider-bottom-1642954063-A {

    transform: rotate(180deg); 
}

/* .custom-shape-divider-bottom-1642954063-B {

    transform: rotate(180deg); 
} */
/* .custom-shape-divider-top-1642953899-B {
    position: absolute;
    top: 80vh;
    left: 0;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-bottom-1642954063-B {
    position: absolute;
    top: 60.13vh;
    left: 0;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
} */ 

.scroll-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 30px;
    margin-bottom: 3vh;
}

.main {
    &__container {
        &__projects {
            &__image {
                width: 68vw;
                height: 100%;
                border: solid 2px $color-black;
                border-radius: 15px;
                object-fit: cover;
                display: block;
            }
            &__shelf {
                width: 68vw;
                height: 1.7vh;
                box-shadow: 0px 2px 1px #4e474a;
            }
            &__inner {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.3s;
            }
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vh;
}
