@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Poppins&family=Work+Sans&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "work-sans", sans-serif;
  color: #2A2627;
}

a:link,
a:visited {
  text-decoration: none;
}

h2 {
  font-size: 4vh;
}

.nav {
  height: 10vh;
  margin: 2vh 5vw;
}
.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  font-size: 3vh;
}

.intro {
  width: 100%;
  height: 65vh;
  margin-top: 8vh;
  background-image: url("./images/light-sparkle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3vh;
}

.scroll-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.main__project__image {
  width: 68vw;
  height: 100%;
  border: solid 2px #2A2627;
  border-radius: 15px;
  object-fit: contain;
}
.main__project__shelf {
  width: 68vw;
  height: 1.7vh;
  box-shadow: 0px 2px 1px #4e474a;
}
.main__project__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 68vw;
  height: 100%;
  color: #EBEBEB;
  font-size: 3.65vw;
  background: rgba(42, 38, 39, 0.6);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.main__project__inner:hover {
  opacity: 1;
}
.main__project__inner:active {
  opacity: 1;
}
.main__project__inner > * {
  transform: translateY(50px);
  transition: transform 0.3s;
}
.main__project__inner:hover > * {
  transform: translateY(0);
}
.main__project__inner:active > * {
  transform: translateY(0);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4vh;
}
.footer a {
  margin: 2.5vw;
  font-size: 4vh;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  /*
        &__sideNav {
            background: $color-primary-light;
            position: fixed;
            right: 0;
            top: 0;
            border-radius: 15px 0px 15px 15px;
            padding: 5vw;
            height: 30vh;
            width: 38vw;
            text-align: center;
            font-size: 4vh;
            z-index: 999;
            opacity: 90%;

            &__list {
              list-style: none;
              margin-top: 3vh;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              height: 26vh;
              width: 100%;
            }

            &__close {
                color: $color-black;
                position: fixed;
                right: 5vw;
                font-size: 4vh;
            }

        }
  */
}
.nav__logo {
  position: absolute;
  left: 5vw;
}
.nav__logo__1 {
  position: relative;
  top: -3px;
  font-family: Island Moments;
  font-size: 8vh;
}
.nav__logo__2 {
  position: relative;
  left: -11px;
  font-size: 6vh;
}
.nav__menu {
  position: fixed;
  right: 5vw;
  font-size: 6vh;
  z-index: 999;
}

@media screen and (max-width: 668px) {
  .nav__links {
    display: none;
  }
}
.intro__image {
  height: 80vh;
  width: 100%;
}
.intro__heading {
  font-family: "Poppins", verdana;
  font-size: 40px;
  margin-left: 5vw;
}
.intro__subheading {
  font-weight: 400;
  font-size: 30px;
  margin-left: 5vw;
}
.intro__button {
  border-radius: 15px;
  background-color: #FF0099;
  font-size: 18px;
  width: 75px;
  text-align: center;
  margin-left: 5vw;
  margin-top: 10px;
  padding: 3px;
  box-shadow: #2A2627 2px 2px;
}

.custom-shape-divider-top-1642953899-A {
  position: absolute;
  top: 18vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1642954063-A {
  position: absolute;
  top: 14vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1642954063-A svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 33px;
}

.custom-shape-divider-top-1642953899-B {
  position: absolute;
  top: 84vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1642954063-B {
  position: absolute;
  top: 80vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1642954063-B svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 33px;
}

.main__heading {
  font-family: "Poppins", verdana;
  text-align: center;
  margin-bottom: 4vh;
}
.main__heading::before, .main__heading::after {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20vw;
  height: 2px;
  background-color: #FF0099;
}
.main__heading::before {
  right: 5vw;
}
.main__heading::after {
  left: 5vw;
}

.project-title, .project-description {
  text-align: center;
}

.project-1, .project-3 {
  position: relative;
  left: 27vw;
  width: 68vw;
  margin-top: 10%;
  border-radius: 15px;
}

.project-2, .project-4 {
  position: relative;
  left: 5vw;
  width: 68vw;
  margin-top: 10%;
  border-radius: 15px;
}

.about__heading {
  font-family: "Poppins", verdana;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 4vh;
  margin-top: 4vh;
}
.about__heading::before, .about__heading::after {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20vw;
  height: 2px;
  background-color: #FF0099;
}
.about__heading::before {
  right: 5vw;
}
.about__heading::after {
  left: 5vw;
}
.about__image {
  width: 50vw;
  border-radius: 15px;
  border: solid 2px #2A2627;
}
.about__description {
  text-align: center;
  margin: 4vh 5vw 4vh 5vw;
}